@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: rgb(18, 21, 194);
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 250px;
    height: 510px;
    overflow: hidden;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;

}

section#login > div#imagem {
    display: block;
    background: rgba(102, 77, 10, 0.774) url("../imagens/pexels-produtora-midtrack-2764182.jpg") no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center center;
}

section#login > div#formulario {
    padding: 10px;
    display: block;
}

section#login > div#formulario h1 {
    text-align: center;
    padding-bottom: 10px;
}

section#login > div#formulario p {
    font-size: 0.8em;
}

div.campo label {
    display: none;
}

form > div.campo span {
    color: white;
    width: 40px;
    padding: 4px;
    font-size: 2em;
}

form div.campo {
    width: 100%;
    display: block;
    background-color: rgb(17, 1, 63);
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
    padding: 5px;
    height: 45px;
}

form > div > input[type=email] {
    padding: 5px;
    background-color: rgb(66, 50, 116);
    font-size: 1em;
    border: 0px;
    outline: none;
    height: 41px;
    width: calc(100% - 44.5px);
    border-radius: 5px;
    transform: translateY(-12.8px);
}

form > div > input[type=password] {
    padding: 4px;
    background-color: rgb(66, 50, 116);
    font-size: 1em;
    outline: none;
    border: 0px;
    height: 41px;
    width: calc(100% - 44.5px);
    border-radius: 5px;
    transform: translateY(-12.8px);
}
form > div > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    padding: 7px;
    background-color: rgb(1, 3, 29);
    color: white;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: rgb(0, 3, 56);
}

form a.botao {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 40px;
    border: 2px solid black;
    margin-top: 5px;
    background-color: rgb(29, 29, 29);
    color: white;
    border-radius: 5px;
}

form a.botao:hover {
    background-color: rgb(0, 0, 0);
}

